/* 

Project Name: Portfolio Challenge
Client: Eric
Author: Eric
Developed @ One Month in NYC 

*/

body {
  background: url(/img/headshot.jpg);
  /* the follow is the code to have the image display as a full page */
  background-position: right;
  background-attachment: fixed;
  -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
#container {
  background: #000000;
  width: 424px;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  background: #782f40;
  color: black;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ceb888;
}
